<html ng-app="sharkModule">
    <head>
        <link rel="stylesheet" href="bootstrap.css"  media="screen,projection">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="angular.js"></script>
        <script src="jquery.js"></script>
        <script src="module.js"></script>
        <style type="text/css">
            .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
                padding: 2px 8px !important;
            }
            .btn{
                padding: 4px 7px !important;
                font-size: 10px !important;
            }
            .table{
                font-size:10px !important;
                margin-bottom: 8px !important;
            }
        </style>
    </head>
    <body ng-controller="userController" style="font-size:10px !important;">
        <div class="container" style="margin-top: 20px;">
            <table class="table table-bordered" >
                <thead>
                    <tr onclick="$('.hideable').toggle()">
                        <th colspan="3" style="text-align: center;">
                            JUGADORES 
                        </th>
                    </tr>
                    <tr style="display: none;" class="hideable">
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Add to team</th>
                    </tr>
                </thead>
                <tbody class="hideable" style="display: none;">
                    <tr ng-repeat="member in members" ng-click="selectCurrent(member)">
                        <td>{{member.number}}</td>
                        <td>{{member.name}} {{member.lastName}}</td>
                        <td>
                            <button class="btn btn-info" ng-click="addUserTeamA(member)">+A</button>
                            <button class="btn btn-info" ng-click="addUserTeamB(member)">+B</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered" >
                <thead>
                    <tr >
                        <th>
                            TEAM
                        </th>
                        <th>
                            PTS
                        </th>
                        <th>
                            F
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="background-color: black;color:white;">
                        <td>EQUIPO NEGRO</td>
                        <td>{{pointsA}}</td>
                        <td>{{foulsA}}</td>
                    </tr>
                    <tr style="background: gray;color:white;">
                        <td>EQUIPO GRIS</td>
                        <td>{{pointsB}}</td>
                        <td>{{foulsB}}</td>
                    </tr>
                </tbody>
            </table>
            
            <table class="table table-bordered" >
                <thead>
                    <tr style="background-color: black;color:white;">
                        <th colspan="6" style="text-align: center;">EQUIPO NEGRO</th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th colspan="2">Pts</th>
                        <th colspan="2">F</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="jugador in equipoA">
                        <td ng-click="removePlayerFromTeam(jugador)">{{jugador.member.number}}</td>
                        <td>{{jugador.member.name}}</td>
                        <td>{{jugador.points}}</td>
                        <td>
                            <button class="btn btn-small btn-success"  ng-click="addPoints('A', jugador, 1)">1</button>
                            <button class="btn btn-small btn-success" ng-click="addPoints('A', jugador, 2)">2</button>
<!--                            <button class="btn btn-small btn-success" ng-click="addPoints('A', jugador, 3)">3</button>-->
                            <button class="btn btn-small btn-danger"  ng-click="removePoints('A', jugador, 1)">1</button>
                        </td>
                        <td>{{jugador.fouls}}</td>
                        <td>
                            <button class="btn btn-small btn-success" ng-click="addFoul('A', jugador, 1)">1</button>
                            <button class="btn btn-small btn-danger"  ng-click="removeFoul('A', jugador, 1)">1</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered" >
                <thead>
                    <tr style="background: gray;color:white;">
                        <th colspan="6" style="text-align: center;">EQUIPO GRIS</th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th colspan="2">Pts</th>
                        <th colspan="2">F</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="jugador in equipoB">
                        <td ng-click="removePlayerFromTeam(jugador)">{{jugador.member.number}}</td>
                        <td>{{jugador.member.name}}</td>
                        <td>{{jugador.points}}</td>
                        <td>
                            <button class="btn btn-small btn-success" ng-click="addPoints('B', jugador, 1)">1</button>
                            <button class="btn btn-small btn-success" ng-click="addPoints('B', jugador, 2)">2</button>
<!--                            <button class="btn btn-small btn-success" ng-click="addPoints('B', jugador, 3)">3</button>-->
                            <button class="btn btn-small btn-danger"  ng-click="removePoints('B', jugador, 1)">1</button>
                        </td>
                        <td>{{jugador.fouls}}</td>
                        <td>
                            <button class="btn btn-small btn-success"  ng-click="addFoul('B', jugador, 1)">1</button>
                            <button class="btn btn-small btn-danger"  ng-click="removeFoul('B', jugador, 1)">1</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pull-right" style="margin-bottom: 5px;">
                <button ng-click="reset()" class="btn btn-success">JUEGO NUEVO</button>
            </div>
        </div>
    </body>
</html>
